@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,300i,400,400i,600,700,700i|Poppins:300,400,500';

.academy-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.academy-header h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 52px;
  font-weight: 400;
  color: #4e2348;
}

.academy__navigation{
  margin: 0;
  padding-left: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}

.academy__navigation li{
  display: inline-block;
  margin-right: 36px;
}

.academy__navigation li a:hover{
  color: #23272c;
}

.academy__navigation li a{
  display: block;
  padding-bottom: 30px;
  color: #87909A;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.academy__navigation li a.active{
  color: #23272c;
}

.academy__navigation li a.active:after,
.academy__navigation li a:hover:after{
  background: #1a0315;
}
.academy__navigation li a:after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: transparent;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -ms-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  transition: background 0.4s ease;
}

.search-form{
  display: flex;
  width: 70%;
  padding: 5px; 
  margin: 20px auto;
  color: #4e2348;
  font-size: 16px; 
  text-align: center;
  background: #af9aac32;
  border: none;
}

.search-form::placeholder{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #af9aac;
  font-weight: 400;
}

input[type="text"] {
  outline: none;
  box-shadow:none !important;
}

.academy-card{
  transition: 500ms all ease-in-out;
}

.academy-card__content {
  margin-bottom: 50px;
}
.academy-card__content .academy-card__img-item {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.academy-card__img-item img{
  max-width: 85%;
  margin: 10px auto;
}

.academy-card__content .academy-card__img-item .academy-card__overlay-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  z-index: 2;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.academy-card__content .academy-card__img-item .academy-card__overlay-hover:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #1a0315;
  background: -moz-linear-gradient(top, #1a0315 0%, #6e3667 100%);
  background: -webkit-linear-gradient(top, #1a0315 0%, #6e3667 100%);
  background: -o-linear-gradient(top, #1a0315 0%, #6e3667 100%);
  background: -ms-linear-gradient(top, #1a0315 0%, #6e3667 100%);
  background: linear-gradient(to bottom, #1a0315 0%, #6e3667 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a0315', endColorstr='#6e3667', GradientType=0);
  opacity: .8;
}

.academy-card__content .academy-card__img-item .academy-card__overlay-hover a {
  display: inline-block;
  position: relative;
  padding: 0 18px;
  font-size: 20px;
  top: -10px;
}
.academy-card__content .academy-card__img-item .academy-card__overlay-hover a img {
  display: none;
  visibility: hidden;
}
.academy-card__content .academy-card__img-item .academy-card__overlay-hover a:before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.academy-card__content .academy-card__img-item .academy-card__overlay-hover a:hover:before {
  border-color: #fff;
}
.academy-card__content .academy-card__img-item:hover .academy-card__overlay-hover {
  opacity: 1;
}
.academy-card__content .academy-card__desc-wrapper {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 2px;
  width: 92%;
  height: 100px;
  margin: -85px auto 0;
  position: relative;
  text-align: center;
  z-index: 4;
  padding: 28px 15px;
  -webkit-box-shadow: 0px 10px 20px 5px #e7e7e7;
  -moz-box-shadow: 0px 10px 20px 5px #e7e7e7;
  box-shadow: 0px 10px 20px 5px #e7e7e7;
}
.academy-card__content .academy-card__desc-wrapper p {
  margin-bottom: 0;
}
.academy-card__content .academy-card__desc-wrapper .academy-card__title {
  color: #23272c;
  font-weight: 600;
}
.academy-card__content .academy-card__desc-wrapper .academy-card__category {
  font-weight: 400;
}

@media screen and (max-width: 639px) {
  .academy__navigation li a{
    padding-bottom: 10px;
  }

  .academy__navigation li{
    margin: 0 5px 10px;
    vertical-align: middle;
  }
}
@media screen and (max-width: 379px) {
  .academy-header{
    transform: scale(.6)
  }
}