/* CSS Document */
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/* line 9, _stylee.scss */

.pin-top {
  position: relative;
  display: none;
  }
.pin-bottom {
position: relative;
}
.pinned {
position: fixed !important;
}

.haha .active {
  background-color: #55254e;
  color: #fff;
}

.active {
  background-color: #c655ac;
}

.btn-filter {
  color: #55254e;
  background-color: #fff;
  border: 1px solid #55254e;
}

.btn-filter:hover {
  background-color: #55254e;
  color: #fff;
}

.haha .btn-filter:focus {
  background-color: #55254e !important;
  color: #fff;
}

.btn-event {
  border-radius: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}


@media only screen and (max-width : 992px) {
  .parallax img {
    max-height: 130%; /* or a little bit higher */
  }
}

@media only screen and (min-width: 993px) {
  .parallax img {
    max-height: 170%; /* or higher percentages. It's up to your taste */
  }
}
.sidenav{
  width: 250px;
}
.wakwaw{
  height: 45px;
  padding-top: 8px;
}
.kanan-panah{
  position: relative;
  top:10px;
  float: right;
  z-index: 2;
}
.kiri-panah{
  position: relative;
  top:10px;
  float: left;
  z-index: 2;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.note-video-clip{
  width: 100% !important;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.note-group-select-from-files {
  display: none;
}
.wangsit-color{
	background-color: #54264E;
}
.wangsit-color:hover{
  background-color: #fff;
  color:#54264E;
}
.wangsit-text{
	color: #54264E !important;
}
.ukuran-font {
	font-size: 11px !important;
} 
@font-face{
	font-family: "fontwow";
	src: url('../fonts/book.ttf');
}
.font-wow {
	font-family: "fontwow";
}
nav ul a,
nav .brand-logo {
  color: #444; }

/* line 14, _stylee.scss */
p {
  line-height: 2rem; }

/* line 18, _stylee.scss */
.button-collapse {
  color: #26a69a; }

/* line 22, _stylee.scss */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9); }

/* line 28, _stylee.scss */
.parallax-container .section {
  width: 100%; }

.footer{
  margin-top: 2rem;
}

@media only screen and (max-width: 992px) {
  /* line 33, _stylee.scss */
  .parallax-container .section {
    position: absolute;
    top: 40%; }

  /* line 37, _stylee.scss */
  #index-banner .section {
    top: 10%; } }
@media only screen and (max-width: 600px) {
  /* line 43, _stylee.scss */
  #index-banner .section {
    top: 0; } }
/* line 48, _stylee.scss */
.icon-block {
  padding: 0 15px; }

/* line 51, _stylee.scss */
.icon-block .material-icons {
  font-size: inherit; }

/* line 55, _stylee.scss */
footer.page-footer {
  margin: 0; 
}

/* line 58, _stylee.scss */
.fontt {
  font-family: 'Montserrat', sans-serif; }

/* line 61, _stylee.scss */
.parallax-container {
  height: 400px; }

/* line 64, _stylee.scss */
.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

/* line 64, _stylee.scss */
.owl-theme .owl-nav {
  margin-top: 10px; }

/* line 64, _stylee.scss */
.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

/* line 64, _stylee.scss */
.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

/* line 64, _stylee.scss */
.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default; }

/* line 64, _stylee.scss */
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

/* line 64, _stylee.scss */
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1; }

.wow-text{
	color:#1e2f40 !important;
}
.wow-color{
	background-color: #1e2f40 !important;
}
/* line 64, _stylee.scss */
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px; }

/* line 64, _stylee.scss */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

/* line 6, style.scss */
.parallax-w {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }


@media only screen and (min-width: 992px) {
  /* line 14, style.scss */
  .logo-pojok {
    margin-top: 8px;
    margin-left: 10px;
    height: 100%;
    width: 150px; }

  /* line 20, style.scss */
  .logo-header {
    height: 100%;
    width: 500px; }

  /* line 25, style.scss */
  .judul {
    border-bottom: solid 5px ;
    padding: 10px 15px 5px 15px;
    font-size: 36px; }

  /* line 30, style.scss */
  .empat-puluh {
    font-size: 50px; }
	
  .nav-lingkaran {
	margin-top: 10px;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	background: #FFFFFF;
}
  .nav-lingkaran-logo {
	height: 120px;
	margin-top: -10px;
	margin-left: -10px;
}
}
@media only screen and (max-width: 991px) {
  /* line 36, style.scss */
  .logo-pojok {
    margin-top: 10px;
    margin-left: 10px;
    height: 100%;
    width: 120px; }

  /* line 42, style.scss */
  .logo-header {
    height: 100%;
    width: 300px; }

  /* line 47, style.scss */
  .judul {
    border-bottom: solid 5px rgba(53, 53, 53, 0.25);
    padding: 5px 15px 5px 15px;
    font-size: 24px; }

  /* line 52, style.scss */
  .empat-puluh {
    font-size: 30px; }
	
  .nav-lingkaran {
	margin-top: 20px;
	height: 60px;
	width: 60px;
	border-radius: 60px;
	background: #FFFFFF;
}
  .nav-lingkaran-logo {
	height: 80px;
	margin-top: -10px;
	margin-left: -10px;
}
}

/*# sourceMappingURL=style.css.map */

.nav-wow {
	color: #FFFFFF;
	border-bottom: solid 5px #1e2f40;
}

.aturan-valign {
	vertical-align: baseline;
}
.card-content-tumpul {
	border-top-left-radius: 20px !important;
	border-top-right-radius: 20px !important;
}
.segitiga-section {
	width: 100%;
	height: 0;
	border-style: solid;
	border-width: 0 0 100px 0;
	border-color: transparent #1e2f40 transparent transparent;
}
#chartdiv {
  width: 100%;
  height: 500px;
}
.aturan li {
	margin: 5px 0px 5px 1px;
}

.tabs .indicator {
  height: 4px;
  background-color: #F7B40E;
}
.card .card-image .bulat {
	border-radius: 10px;
}
.bulatt {
	border-radius: 10px;
}
.no-margin {
	margin: 0px !important;
}
/* label color */
.input-field label {
  color: #fff !important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #fff  !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #880e4f !important;
  box-shadow: 0 1px 0 0 #880e4f !important;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #880e4f !important;
  box-shadow: 0 1px 0 0 #880e4f !important;
}

/* label focus color */
.input-field input[type=password]:focus + label {
  color: #424242  !important;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid #880e4f !important;
  box-shadow: 0 1px 0 0 #880e4f !important;
}
/* valid color */
.input-field input[type=password].valid {
  border-bottom: 1px solid #880e4f !important;
  box-shadow: 0 1px 0 0 #880e4f !important;
}

.btn-wangsit:hover {
  background-color: #c655ac !important;
}
.btn:focus{ 
  background-color: #c655ac !important; 
}
.nav-wrapper {
  background-color: rgba(0,0,0,0.05) !important;
}
.datepicker-date-display {
  -webkit-box-flex: 1;
  -webkit-flex: 1 auto;
      -ms-flex: 1 auto;
          flex: 1 auto;
  background-color: #54264E;
  color: #fff;
  padding: 20px 22px;
  font-weight: 500;
}
.tabs .tab a{
  color:#eee;
  font-family: 'Montserrat', sans-serif; 
  font-size : 0.8em;
} /*Text*/
.tabs .tab a:hover {
  background-color:#eee;
  color:#54264E;
} /*Text color on hover*/
.tabs .tab a.active {
  background-color:#54264E;
  color:#eee;
} /*Background and text color when a tab is active*/
.tabs .indicator {
  background-color:#eee;
} /*Color of underline*/
i.icon-wangsit{
  color : #54264E;
}


.shadow{
  box-shadow: 0 0.125rem 0.25rem rgba(73,74,160,0.075) !important;
}

.justify-content-center{
  justify-content: center;
}


/* 
 *
 * Notification
 *
*/


#notification::-webkit-scrollbar{ width: 3px; }
#notification::-webkit-scrollbar-track{ box-shadow: inset 0 0 #ececec ; border-radius: 10px;}
#notification::-webkit-scrollbar-thumb { background: #F7B40E; border-radius: 10px;}

#notification a:hover{
  background: #f5f5f5;
}

.notification-card{
  width: 330px;
  min-height: 30px;
  padding: 5px;
}

.notification-card.row{
  margin-bottom: 0px;
}

.notification-card img{
  vertical-align:middle; 
  width: 40px; 
  margin-right: 20px; 
  margin-top: -5px; 
  float: left
}

.notification-card .user{
  color: #54264E;
  display: block;
  line-height: 1em;
  margin: 0px 0px 5px;
}

.notification-card .desc{
  color: rgb(105, 105, 105);
  font-size: .8em;
  display: block;
  line-height: 1.5em;
  margin: 0px;
}

.notification-card .time{
  color: rgb(180, 180, 180);
  font-size: .7em;
  display: block;
  float: right;
  line-height: 1.5em;
  margin: 0px;
}



/* 
 *
 * Event
 *
*/

.event-text{
  margin: 50px 0 20px 10px;
}

.event-title{
  color : #505050;
  margin-bottom: 3rem;
}

.event__bg{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  object-fit: contain;
  z-index: -9;
}

.event__bg img{
  max-width: 100px;
}

.bege img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  object-fit: cover;
}

@media (max-width: 767px){
  .event__bg img{
    max-width: 50px;
  }
  
}

.event__form{
  border: 1px solid #505050 !important;
  border-radius: 5px !important;
  padding-left: 15px !important;
  border: 1px solid #505050 !important;
  color: #424242;
  font-weight: 400;
}

.event__label{
  display: inline-flex !important;
  margin-left:15px !important;
  padding: 1px 5px !important;
  width: auto !important;
}

.event__label.active{
  background: #55254e !important;
  transform: translateY(-11px) scale(1) !important;
}

.input-field{
  display: flex;
}

.input-field.disabled .event__form,
.input-field.disabled .event__label {
  background: #F5F5F5 !important;
}

.new-features{
  position: relative;
}

.new-feature{
  padding: 3px 6px;
  font-size: .7rem;
  font-weight: 400;
  border-radius: 6px;
  background-color: rgb(214, 30, 30);
  color: white;
}

.new-feature-dot{
  position: absolute;
  top: 20px;
  right: -10px;
  height: 10px;
  width: 10px;
  border-radius: 6px;
  background-color: rgb(214, 30, 30);
}