html,body{
  height:100%;
  font-family: 'Poppins', sans-serif;
}

.container{
  height: 100%;
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.kata{
text-align: center;
font-family: 'Poppins', sans-serif;
font-weight: 600;
/* color: #FACA2C; */
/* text-shadow: 1px -2px 0px #DF5443; */
}

/* img{
  width: 200px;
  margin-bottom:20px;
} */

button{
  margin-top: 30px;
  background-color: #FED136;
  color: white;
}

.login{
  width: 350px;
}

h3{
  color:#FED136;
  font-weight: bold;
}

label{
  font-size: 12px;
  color: white;
}

#aa{
z-index: -1;
position: absolute;
margin-left: 0px;
width: 100%;
height: 100%;
margin-top: 0px;
object-fit:cover;
/* object-fit:  */
}

.or1{
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 20px;
}

.or2{
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.or3{
  display: inline-block;
  position: absolute;
  left: 10px;
  bottom: 0px;
}

.or4{
  display: inline-block;
  position: absolute;
  width: 300px;
  left: -50px;
  top: 10px;
}

@media screen and (max-width: 720px){
  .login{
    width: 310px;
  }
  h1{font-size: 22px;}
}

/* Responsif */
@media screen and (max-width: 1200px){
  .or1{
    width: 300px;
    top: 20px;
  }
  
  .or2{
    width: 300px;
  }
  
  .or3{
    width: 300px;
  }
  
  .or4{
    width: 300px;
  }
}

@media screen and (max-width: 1024px){
  .or1{
    width: 200px;
  }
  
  .or2{
    width: 200px;
  }
  
  .or3{
    width: 250px;
  }
  
  .or4{
    width: 250px;
  }
}

@media screen and (max-width: 900px){
  .or1{
    width: 250px;
  }
  
  .or2{
    width: 150px;
  }
  
  .or3{
    width: 200px;
  }
  
  .or4{
    width: 200px;
  }
}

@media screen and (max-width: 768px){
  .or1{
    width: 250px;
  }
  
  .or2{
    width: 150px;
  }
  
  .or3{
    width: 250px;
  }
  
  .or4{
    width: 200px;
  }
}

@media screen and (max-width: 600px){
  .or1{
    width: 200px;
  }
  
  .or2{
    width: 150px;
  }
  
  .or3{
    width: 150px;
  }
  
  .or4{
    width: 200px;
  }
}

@media screen and (max-width: 499.98px){
  .or1{
    width: 200px;
  }
  
  .or2{
    width: 100px;
  }
  
  .or3{
    width: 150px;
  }
  
  .or4{
    width: 150px;
  }
}

@media screen and (max-width: 384px){
  .or1{
    width: 200px;
  }
  
  .or2{
    width: 100px;
  }
  
  .or3{
    width: 150px;
  }
  
  .or4{
    width: 100px;
  }
}

@media screen and (max-width: 321px){
  .or1{
    width: 240px;
  }
  
  .or2{
    width: 100px;
  }

  .or4{
    width: 100px;
  }
}
