
html,body{
  height:100%;
}

.container{
  margin-top: 50px;
  margin-bottom: 100px !important;
  /* height: 100%; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.kata{
  font-family: 'Poppins', sans-serif;
  color: black;
  margin: auto;
  top: 100px;
  margin-bottom: 100px !important;
  box-shadow: 2px 0px 10px rgb(135, 135, 135);
  text-align: center;
  font-weight: 600;
  width: 75%;
  background-color: white;
  border-radius: 10px;
  border-top: 4px solid #FED136;
  /* color: #FACA2C; */
  /* text-shadow: 1px -2px 0px #DF5443; */
}

.kata h6 {
  font-weight: bold;
}

.kata img {
  width: 200px;
  margin: 10px;
}

.kata .date {
  margin: auto;
}

.download{
  font-weight: normal;
  font-family: arial;
}

.isi-form{
  padding: 20px;
  margin-left: 5%;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-family: arial;
  /* overflow: auto; */
}

.or1{
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 20px;
}

.or2{
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 950px;
}

.or3{
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 850px;
}

.or4{
  display: inline-block;
  position: absolute;
  left: -50px;
  top: 500px;
}

button{
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  width: 150px;
}


.form-group .control-label:after {
  content:"*";color:red;
}

#aa{
  z-index: -1;
  position: fixed;
  margin-left: 0px;
  width: 100%;
  height: 100%;
  margin-top: -50px;
  object-fit:cover;
  /* object-fit:  */
}

/* Responsif */
  @media screen and (max-width: 1200px){
    .kata{
      width: 70%;
    }

    .or1{
      width: 300px;
      top: 20px;
    }
    
    .or2{
      width: 300px;
      top: 950px;
    }
    
    .or3{
      width: 300px;
      top: 1100px;
    }
    
    .or4{
      width: 300px;
      top: 300px;
    }
    
    .btn{
      margin-top: -100px;
    }
  }

  @media screen and (max-width: 1024px){
    .kata{
      top: 80px;
      width: 70%;
    }

    .or1{
      width: 300px;
      top: 20px;
    }
    
    .or2{
      width: 200px;
      top: 1000px;
    }
    
    .or3{
      width: 250px;
      top: 1100px;
    }
    
    .or4{
      width: 250px;
      top: 300px;
    }
  }
  
  @media screen and (max-width: 900px){
    .kata{
      top: 50px;
      width: 75%;
    }

    .or1{
      width: 250px;
      top: 20px;
    }
    
    .or2{
      width: 150px;
      top: 1050px;
    }
    
    .or3{
      width: 200px;
      top: 1100px;
    }
    
    .or4{
      width: 200px;
      top: 300px;
    }
  }
  
  @media screen and (max-width: 768px){
    .kata{
      width: 90%;
    }

    .or1{
      width: 250px;
      top: 20px;
    }
    
    .or2{
      width: 150px;
      top: 1400px;
    }
    
    .or3{
      width: 250px;
      top: 1400px;
    }
    
    .or4{
      width: 200px;
      top: 300px;
    }
  }

  @media screen and (max-width: 600px){
    .kata{
      width: 90%;
    }

    .or1{
      width: 300px;
      top: 20px;
    }
    
    .or2{
      width: 150px;
      top: 1400px;
    }
    
    .or3{
      display: none;
    }
    
    .or4{
      width: 200px;
      top: 300px;
    }
  }

  @media screen and (max-width: 499.98px){
    .kata{
      width: 90%;
    }

    .or1{
      width: 300px;
      top: 20px;
    }
    
    .or2{
      width: 150px;
      top: 1500px;
    }
    
    .or3{
      display: none;
    }
    
    .or4{
      width: 200px;
      top: 300px;
    }
  }

  @media screen and (max-width: 384px){
    .kata{
      width: 90%;
    }

    .or1{
      width: 300px;
      top: 20px;
    }
    
    .or2{
      width: 150px;
      top: 1550px;
    }
    
    .or3{
      display: none;
    }
    
    .or4{
      width: 200px;
      top: 300px;
    }
  }

  @media screen and (max-width: 321px){
    .kata{
      width: 90%;
    }

    .or1{
      width: 240px;
      top: 20px;
    }
    
    .or2{
      width: 150px;
      top: 1650px;
    }
  }
