.btn-wangsit-color {
  background-color: #54264e !important;
}


.text-small{
  font-size: .8rem !important;
}

.user-info{
  padding-left: .8rem;
  margin-bottom: 3rem !important
}

.user-info img{
  border-radius: 40px;
  margin-bottom: 10px;
}

.table th, 
.table td{
  text-align: left !important;
}

.text-decoration-none{
  text-decoration: none !important;
}

.text-decoration-none:hover{
  text-decoration: none !important;
}

.event-card
.event-card--body{
  height: 200px ;
  max-height: 200px;
  cursor: pointer;
}

.event-card--title{
  font-weight: 500 !important;
  color: #653c60; 
}

.event-card--manager{
  position: absolute;
  bottom: 15px;
  display: flex;
  align-items: center;
}

.event-card--manager-photo{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  object-fit: cover;
}

.event-card--info-manager{
  margin-left: 1rem
}

.event-card--info-manager .name{
  line-height: .6rem;
  margin-bottom: 0;
}

.event-card--image{
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}