body{
    background-image: url(bg_Mrfest.png);
}
.btn-link{
    background-color: purple;
}
.btn-link a{
    color: #fff;
}
.form-label{
    color: #fff;
}
.iniGambar{
    background-image:url(/afterregisMRFEST.png);
    width:50%;
}