/* CUSTOM CSS */

body{
  
  font-family: 'JetBrains Mono',monospace, sans-serif;
  color: #0C5774;
  /* overflow: hidden; */

}


#bg{
  background-image: url("bgWOW2022.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  width: 100vw;
  position: absolute;
}

/* Header (Judul) */
.judul{

  margin: auto;
  height: 200px;
  /* background-color: aqua; */
  text-align: center;
  font-family: 'Press Start 2P', monospace;
  color: white;
  padding: 50px;
}

.heading{

 
  height: 200px;
  /* background-color: aqua; */
  text-align: center;
  font-family: 'Press Start 2P', monospace;
  color: white;
  padding: 30px;
}

/* FORM */

.form-wow{

  background-color: #F3A88B;
  margin-left: auto;
  margin-right: auto;
  
  justify-content: center;
  width: 75%;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px;
}


/* Misc */

.red-star {
  color: red;
}

a{
  text-decoration: none;
}

.bold-af{
 font-weight: bold;
}

.margin-leftt{
  margin-left: 12px;
}

.btn-primary{
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #AA6046;
    color: #fff;
    font-weight: bold;
    width: fit-content;
    border: 1px solid black;
    margin-bottom: 48px;
}

.btn-primary:hover{
  background-color: #559FB9;
  color: black;
}

select:invalid{
  color: gray;
}
option{
  color: black;
}

.kartu{
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box; 
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.5rem;
    padding: 10px;
    width: fit-content;
}

.kartu-2{
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #CC9382;
    color: #fff;
    font-weight: bold;
    background-clip: border-box; 
    border: 1px solid black;
    border-radius: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
    width: fit-content;
}


