
html,body{
  height:100%;
}

.container{
  margin-top: 50px;
  margin-bottom: 50px;
  /* height: 100%; */
  width: 100%;
display: flex;
justify-content: center;
/* align-items: center; */
}

.kata{
text-align: center;
font-family: 'Candal', sans-serif;
font-weight: 600;
width: 75%;
background-color: white;
border-radius: 10px;
border-top: 4px solid #FED136;
color: #12356F;
/* color: #FACA2C; */
/* text-shadow: 1px -2px 0px #DF5443; */
}

@media screen and (max-width: 1024px){
.kata{
  width: 80%;
}
}

@media screen and (max-width: 900px){
.kata{
  width: 85%;
}
}

@media screen and (max-width: 600px){
.kata{
  width: 90%;
}
}

.download{
  font-weight: normal;
  font-family: arial;
}

.isi-form{
  padding: 20px;
  margin-left: 5%;
  width: 90%;
  font-weight: normal;
  font-family: arial;
  font-size: 12px;
  /* overflow: auto; */
}

button{
  font-weight: normal;
  font-family: arial;
}


.form-group .control-label:after {
  content:"*";color:red;
}

#aa{
z-index: -1;
position: fixed;
margin-left: 0px;
width: 100%;
height: 100%;
margin-top: -50px;
object-fit:cover;
/* object-fit:  */
}
.container .kata h4,h6{
    font-family: "Alice in Wonderland", serif;
    border: none;
}
