html,body{
  height:100%;
}

.container{
  height: 100%;
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.kata{
text-align: center;
font-family: 'Candal', sans-serif;
font-weight: 600;
padding: 50px;
border-radius: 30px;
background-color:black;
opacity: 0.7;
/* color: #FACA2C; */
/* text-shadow: 1px -2px 0px #DF5443; */
}

img{
  width: 200px;
  margin-bottom:20px;
}

button{
  margin-top: 30px;
  background-color: #FED136;
  color: white;
}

.login{
  width: 350px;
}

h3{
  color:#FED136;
  font-weight: bold;
}

label{
  font-size: 12px;
  color: white;
}

#aa{
z-index: -1;
position: absolute;
margin-left: 0px;
width: 100%;
height: 100%;
margin-top: 0px;
object-fit:cover;
/* object-fit:  */
}

@media screen and (max-width: 720px){
  .login{
    width: 310px;
  }
  h1{font-size: 22px;}
}
